<div class="call">
  <div class="call-box-top">
    {% if site.data.contact.phone %}
        <div class="call-phone">
          <strong>Telefone: </strong> 
          {% if site.data.contact.whats_number %}
          <a href="https://api.whatsapp.com/send?phone={{site.data.contact.whats_number}}&text={{site.data.contact.whats_message}}" target="_blank">
            <img src="/images/social/whatsapp-32x32.svg" alt="Logo Whatsapp"/>
          </a>
          {% endif %}
          {{ site.data.contact.phone }} 
        </div>
    {% endif %}
    {% if site.data.contact.email %}
    <div class="call-email"><strong>Email: </strong>
      <a href="mailto:{{ .site.data.contact.email }}">
        {{ site.data.contact.email }}
      </a>
    </div>
    {% endif %}
  </div>
    {% if include.show_button %}
      <div class="call-box-bottom">
        <a href="{{ site.data.contact.contact_button_link }}" class="button">Contato</a>
      </div>
    {% endif %}
</div>
